# Python
__pycache__/
*.pyc
*.pyo

# Environnement virtuel
.venv/
venv/

# Secrets
.env
.env.*

# Kaggle / Jupyter
.ipynb_checkpoints/

# Images / données locales
*.jpeg
*.jpg
*.png

# VS Code
.vscode/

# Logs / temporaires
*.log
*.tmp
*.temp

# OS
.DS_Store